
services:
  auth-service:
    image: ghcr.io/sunny2609/auth-service:v2
    container_name: auth-service
    platform: linux/amd64
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
